ENVIO_ESCROW_ADDRESS=
ENVIO_BADGE_ADDRESS=
ENVIO_REPUTATION_ADDRESS=
ENVIO_START_BLOCK=0
ENVIO_RPC_URL=https://testnet-rpc.monad.xyz
ENVIO_PG_HOST=localhost
ENVIO_PG_PORT=5432
ENVIO_PG_USER=quark
ENVIO_PG_PASSWORD=quark
ENVIO_PG_DATABASE=quark
ENVIO_PG_SCHEMA=public
ENVIO_TUI=false
